# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# Misc
.DS_Store 


.env 

.env.local

.next/

node_modules/
tmp

CLAUDE_audio_processing.md 
CLAUDE.md
*.wav
*.mp3
*.m4a
*.ogg
*.flac
*.wav.gz
*.mp3.gz
*.m4a.gz
*.ogg.gz
*.flac.gz

audio_worker_c/build/
spec/*