fastapi==0.115.0
uvicorn[standard]==0.32.0
asyncpg==0.30.0
httpx==0.28.0
pyjwt[crypto]==2.10.0
python-dotenv==1.0.1
pydantic==2.10.0
cryptography==44.0.0
porter-sdk @ git+https://github.com/porter-dev/experimental.git@porter-sdk-v0.0.2#subdirectory=porter-sdk
