fastapi==0.115.0
uvicorn[standard]==0.32.0
asyncpg==0.30.0
httpx==0.28.0
pyjwt[crypto]==2.10.0
python-dotenv==1.0.1
pydantic==2.10.0
cryptography==44.0.0
websockets==14.2
porter-sandbox-api-client @ https://github.com/porter-dev/experimental-releases/releases/download/sandbox-api-client-v0.0.3-rc5/porter_sandbox_api_client-1.0.0-py3-none-any.whl
